$yellow: #FFFFFF;

.jumbotron{
	background-color: $yellow;
	color: #FFFFFF;
	margin-top: 50px;
}

.btn{
	background-color: blue;
	color: #FFFFFF;
}

.footer{
	padding: 10px 10px 0 10px;
	margin-bottom: 0px;
	margin-top: 10px;
	width: 100%;
}

.card-cursos{
	flex: 1 200px;
	padding: 5px 0px 5px 0px;
	margin-top: 10px;
}

.btn-ingreso{
	width: 100%;
}

.jpm{
	padding: 25px 37px 0px 37px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 15px;
}

.collapse-jpm{
	padding: 25px 0 25px 0;;
}